<div>
    <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
    </div>

    <ul *ngIf="tasks.length > 0">
    <li *ngFor="let task of tasks">
        <a [routerLink]="['/task/', task.id]">{{ task.title }}</a>
        <p class="taskDescription">{{ task.description }}</p>
        <span [ngClass]="{'status-completed': task.status === 'Completed', 'status-pending': task.status === 'To Do', 'status-in-progress': task.status === 'in-progress'}">{{ task.status }}</span>
    </li>
    </ul>

    <p *ngIf="tasks.length === 0">Wut? No tasks?!</p>
</div>